/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}



/******************************************
/* LAYOUT
/*******************************************/
.topSection{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  align-items: center;
}

#cardButton{
  background-color: black;
  color: white;
  height: 51px;
  width: 59px;
  border-radius: 15%;

}

.cardImageSection{
  display: flex;
  justify-content: center;
}

img{
  height: 450px;
  margin: 3% 0 0 20%;
}

.choiceResults{
  display: flex;
  justify-content: center;
}

h3{
  width: 60%;
}

.choices{
  display: flex;
  justify-content: center;
}

.choices button{
  margin: 5px;
  background-color: black;
  color: white;
  border-radius: 15%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
